<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
</head>
<body style="background-image:url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/142799181.jpg?k=85369cf3aa37c11798927deeb5cce07c1d8cb9cce4aebe83971c36274a5849fe&o=&hp=1);
background-repeat: no-repeat; background-size: cover;">
    <div class="container " style=" background-color: rgba(255, 228, 196, 0.507); height: 70vh; align-content: center; ">
        <div class="container titulo mt-5" style="text-align: center;" >
        
            <h1>Bienvenido a Turismo Real</h1>
            <h3>una empresa familiar</h3>
        </div>
        <form  action="{%url 'home'%}">
            <div class="form-floating mb-3 ">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">correo</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">contraseña</label>
              </div><br><br>
            <button type="submit" class="btn btn-outline-primary">iniciar sesion</button>

        </form>
    </div>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script> 
</body>
</html>